<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adjunct-System.StringComparisonExtensions" version="1.0.0" targetFramework="net45" />
  <package id="adjunct-XUnit.Should" version="1.1.0" targetFramework="net45" />
  <package id="adjunct-XUnit.Should.BooleanExtensions" version="2.0.0" targetFramework="net45" />
  <package id="adjunct-XUnit.Should.IComparableExtensions" version="2.0.0" targetFramework="net45" />
  <package id="adjunct-XUnit.Should.IEnumerableExtensions" version="2.0.0" targetFramework="net45" />
  <package id="adjunct-XUnit.Should.ObjectExtensions" version="2.0.0" targetFramework="net45" />
  <package id="adjunct-XUnit.Should.StringExtensions" version="2.1.0" targetFramework="net45" />
  <package id="xunit" version="1.9.1" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.1" targetFramework="net45" />
</packages>